# Copier ce fichier en secrets.auto.tfvars et remplir les valeurs

# Hetzner
hetzner_api_key = "YOUR_HETZNER_API_KEY"

# OVH
ovh_application_key    = "YOUR_OVH_APP_KEY"
ovh_application_secret = "YOUR_OVH_APP_SECRET"
ovh_consumer_key      = "YOUR_OVH_CONSUMER_KEY"